<%back if !admin_ip?%>

<div style="text-align: center; margin-top: 16px">
	<%= link_to image_tag(image_path("main/admin_logo.png")), {controller: 'admin', action: 'login'}, style: "display: inline-block"%>
</div>

<div style="text-align:center;">
  <div class="login_panel", style="text-align: center; display: inline-block">
    <div style="display: inline-block">
      <b>Admin Login</b>
      <br>
      <br>
      <%if params[:login_error] %>
        <span style="color: red;"><b><%='*Invalid ID/password combination*'%></b></span>
        <br>
      <%end%>     
      <%= form_for(:login, url: url_for(:controller => 'admin', :action => 'login')) do |form| %>
        <table>
          <tr>
            <td style="height: 32px"><%= form.label :name, 'Admin ID: '%></td>
            <td style="height: 32px"><%= form.text_field :name%></td>
          </tr>
          <tr>
            <td style="height: 32px"><%= form.label :password, 'Password: '%></td>
            <td style="height: 32px"><%= form.password_field :password%></td>
          </tr>        
          <tr>
            <td colspan="2", style="height: 60px"><%= form.submit 'Log In', :class => "login_button", :style => "background-color: rgba(0, 128, 0, 1.0);"%></td>
          </tr>
        </table>
      <%end%>         
    </div>
  </div>  
</div>  